[dl]
row=5
col=0

[bin]
row=4
col=0

[drive]
row=8
col=0

[build]
row=0
col=0

[vid]
row=7
col=0

[doc]
row=6
col=0

[pic]
row=3
col=0

[code]
row=0
col=1

[log]
row=1
col=1

[Trash]
row=2
col=1

[File System]
row=2
col=0

[Home]
row=1
col=0

