[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alex/dl]
row=0
col=2

[/home/alex/music]
row=3
col=2

[/home/alex/bin]
row=1
col=3

[/home/alex/vm]
row=0
col=1

[/home/alex/build]
row=2
col=1

[/home/alex/vid]
row=1
col=1

[/home/alex/doc]
row=1
col=2

[/home/alex/pic]
row=3
col=1

[/home/alex/code]
row=2
col=2

[SAMSUNG Android]
row=0
col=0

[2A3CC3633CC32921]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/alex]
row=0
col=3

