[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alex/code]
row=0
col=0

[/home/alex/vid]
row=9
col=0

[/home/alex/vm]
row=1
col=1

[/home/alex/dl]
row=0
col=1

[/home/alex/pic]
row=8
col=0

[/home/alex/doc]
row=1
col=0

[/home/alex/bin]
row=6
col=0

[/home/alex/music]
row=7
col=0

[2A3CC3633CC32921]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/alex]
row=5
col=0

