[core]
	editor = vim
[user]
	name = Alex Ozer
	email = ***REMOVED***
[push]
	default = simple
[github]
	user = alexozer
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
