/vim/.config/nvim/plugged/
/vim/.config/nvim/.netrwhist
/vim/.config/nvim/tmp/
.mypy_cache/
/polybar/.config/polybar/secrets.sh

/urlwatch/
/isync/
/emacs/.emacs.d/private/elfeed.org
/ssh/.ssh/config
/mail/
