GOPATH1="$HOME/build/go"
GOPATH2="$HOME/code/auv/gocode"
export GOPATH="$GOPATH1:$GOPATH2"
export PATH="$PATH:$HOME/bin:$GOPATH1/bin:$GOPATH2/bin:$HOME/code/auv/link-stage"
export PYTHONPATH="$HOME/code/auv"
export DRIVE_DIR="$HOME/drive"

syndaemon -i 0.2 -k -t -R &
$HOME/bin/kbd &
$HOME/bin/drivesync &
