export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel'
export GOPATH="$HOME/code/go"
export PATH="$PATH:$HOME/bin:$GOPATH/bin"
export _JAVA_AWT_WM_NONREPARENTING=1

if [ -n "$DESKTOP_SESSION" ]; then
	eval $(gnome-keyring-daemon --start --components=ssh)
	export SSH_AUTH_SOCK
fi

syndaemon -i 0.4 -k -t -R &
nitrogen --restore &
dex -a &
twmnd &
redshiftgui &
