#!/bin/sh

export XDG_CONFIG_HOME="$HOME/.config"
export BSPWM_SOCKET="/tmp/bspwm-socket"
export PANEL_FIFO="/tmp/panel-fifo"
export PATH=$PATH:$HOME/code/sh:$HOME/code/go/bin

if [ -d /etc/X11/xinit/xinitrc.d ]; then
  for f in /etc/X11/xinit/xinitrc.d/*; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

xrdb $HOME/.Xresources
xset +fp /usr/share/fonts/local
xset +fp /usr/share/fonts/misc
xset +fp $HOME/.fonts
xset fp rehash

# Keybindings
sxhkd &

# Normal cursor
xsetroot -cursor_name left_ptr &

# Wallpaper
if [[ -e $HOME/.wallpaper ]]; then
	feh --bg-fill $(cat $HOME/.wallpaper) &
fi

# Urxvt server
urxvtd &

exec bspwm
