#include "/home/alex/.colors/hybrid"

! #########################################
URxvt.termName: rxvt-unicode-256color
URxvt*perl-lib:			/usr/lib/URxvt/perl
URxvt*perl-ext-common:		default,matcher
!URxvt*perl-matcher: 		1
!URxvt*matcher-button: 		1
URxvt*urlLauncher:		/usr/bin/chromium
!URxvt*cursorUnderline: 1
!URxvt*letterspace: -1
!URxvt*fading: 			10
URxvt*cursorBlink:		true
URxvt*scrollBar:		false
!URxvt*depth:		32
URxvt*internalBorder: 2
URxvt*intensityStyles: false
URxvt*dynamicColors: on
URxvt*fading: 0

!URxvt*font: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!URxvt*boldFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!URxvt*italicFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!URxvt*bolditalicFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*

!URxvt*font: -*-tamsyn-medium-r-normal-*-*-87-*-*-*-*-*-*
!URxvt*boldFont: -*-tamsyn-bold-r-normal-*-*-87-*-*-*-*-*-*
!URxvt*italicFont: -*-tamsyn-medium-r-normal-*-*-87-*-*-*-*-*-*
!URxvt*bolditalicFont: -*-tamsyn-bold-r-normal-*-*-87-*-*-*-*-*-*

!URxvt*font: -*-terminus-medium-r-normal-*-18-*-*-*-*-*-*-*
!URxvt*boldFont: -*-terminus-bold-r-normal-*-18-*-*-*-*-*-*-*
!URxvt*italicFont: -*-terminus-medium-r-normal-*-18-*-*-*-*-*-*-*
!URxvt*bolditalicFont: -*-terminus-bold-r-normal-*-18-*-*-*-*-*-*-*

!URxvt*font: xft:inconsolata:size=12
!URxvt*boldFont: xft:inconsolata:bold:size=12
!URxvt*italicFont: xft:inconsolata:italic:size=12

!URxvt*font: -*-gohufont-medium-r-normal-*-14-*-*-*-*-*-*-*
!URxvt*boldfont: -*-gohufont-bold-r-normal-*-14-*-*-*-*-*-*-*
!URxvt*italicfont: -*-gohufont-medium-r-normal-*-14-*-*-*-*-*-*-*
!URxvt*bolditalicfont: -*-gohufont-bold-r-normal-*-14-*-*-*-*-*-*-*

!URxvt*font: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!URxvt*boldFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!URxvt*italicFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!URxvt*bolditalicFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 

!URxvt*font: -*-terminesspowerline-medium-*-*-*-14-*-*-*-*-*-*-*
!URxvt*boldFont: -*-terminesspowerline-bold-*-*-*-14-*-*-*-*-*-*-*
!URxvt*italicFont: -*-terminesspowerline-medium-*-*-*-14-*-*-*-*-*-*-*
!URxvt*bolditalicFont: -*-terminesspowerline-bold-*-*-*-14-*-*-*-*-*-*-*

URxvt*font: -*-terminesspowerline-medium-*-*-*-18-*-*-*-*-*-*-*
URxvt*boldFont: -*-terminesspowerline-bold-*-*-*-18-*-*-*-*-*-*-*
URxvt*italicFont: -*-terminesspowerline-medium-*-*-*-18-*-*-*-*-*-*-*
URxvt*bolditalicFont: -*-terminesspowerline-bold-*-*-*-18-*-*-*-*-*-*-*

!Xft.dpi:	96
Xft.rgba:	rgb
Xft.antialias: 	true
Xft.hinting: 	true
Xft.autohint: 	false
Xft.hintstyle: 	hintfull
Xft.lcdfilter: 	lcddefault
