[Desktop Entry]
Name=Uninstall KeyFinder
Exec=env WINEPREFIX="/home/alex/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/alex/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/KeyFinder/Uninstall\\ KeyFinder.lnk
Type=Application
StartupNotify=true
Path=/home/alex/.wine/dosdevices/c:/Program Files (x86)/Magical Jelly Bean
Icon=489E_unins000.0
StartupWMClass=unins000.exe
