source ~/.config/nvim/init.vim

nnoremap ,r :action Run<cr>
nnoremap ,b :action ToggleLineBreakpoint<cr>

nnoremap ,cc :action CommentByLineComment<cr>
vnoremap ,cc :action CommentByLineComment<cr>
nnoremap ,cm :action CommentByBlockComment<cr>
vnoremap ,cm :action CommentByBlockComment<cr>
