" Make Y behave like D and C, instead of like yy
nnoremap Y y$

" Much better use of H and L
noremap H ^
noremap L $

" Allow using ; to access command mode in normal and visual mode
noremap ; :
noremap : ;

set surround
set clipboard=unnamedplus,ideaput

set ignorecase
set smartcase
set incsearch
