favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-mail-reader.desktop,exo-web-browser.desktop
recent=gparted.desktop,seahorse.desktop,gnome-system-monitor.desktop,playonlinux.desktop,xfce-keyboard-settings.desktop,tor-browser-en.desktop,xfce-display-settings.desktop,org.gnome.baobab.desktop,gimp.desktop,chrome-hmjkmjkepdijhoojdojkdfohbdgmmhki-Default.desktop
button-title=Applications
button-icon=xfce4-whiskermenu
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
item-icon-size=2
hover-switch-category=false
category-icon-size=1
load-hierarchy=false
recent-items-max=10
favorites-in-recent=false
display-recent-default=true
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=false
menu-width=423
menu-height=586
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=false
command-lockscreen=
show-command-lockscreen=false
command-switchuser=gdmflexiserver
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=false
command-menueditor=menulibre
show-command-menueditor=false
command-profile=mugshot
show-command-profile=false
search-actions=2

[action0]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

[action1]
name=Map
pattern=;map
command=exo-open --launch WebBrowser https://www.google.com/maps?q=%s
regex=false

