[Desktop Entry]
Name=Redshift
GenericName=Color temperature adjustment
Terminal=false
StartupNotify=true
Version=1.0
Comment=Color temperature adjustment tool
Hidden=false
Exec=redshift-gtk
Icon=redshift
Categories=Utility;
Type=Application
X-GNOME-Autostart-enabled=true

