[Desktop Entry]
Exec=redshift-gtk
GenericName=Color temperature adjustment
Type=Application
Terminal=false
Hidden=false
Name=Redshift
Icon=redshift
Comment=Color temperature adjustment tool
Categories=Utility;
Version=1.0
X-GNOME-Autostart-enabled=true
StartupNotify=true

