[Unit]
Description=Timer for Baz Cleanup

[Timer]
# Define target unit (in case the name part is the same, can be omitted)
Unit=selfsniper.service

## Activate target unit based on monotonic timers 

# Time to wait after booting before we run first time
#OnBootSec=10min

# Time between running each consecutive time
#OnUnitActiveSec=30min

## or ..
## Activate target based on wallclock time (calendar event)

# Define a calendar event (see `man systemd.time`)
OnCalendar=*-*-* 0/2:27:00
RandomizedDelaySec=1000

[Install]
WantedBy=multi-user.target
