#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
NoDisplay=true
Exec=/home/alex/doc/projects/rolledout/UnrealEngine/Engine/Binaries/Linux/UnrealVersionSelector-Linux-Shipping -switchversion %f
Path=/home/alex/doc/projects/rolledout/UnrealEngine/Engine/Binaries/Linux
Name=Unreal Version Selector
Icon=ubinary
Terminal=false
StartupWMClass=UnrealVersionSelector-Linux-Shipping
MimeType=application/uproject
Comment=Created By Unreal Engine
