[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Live Share for VS Code
NoDisplay=true
Exec="/home/alex/.local/share/vsliveshare/vsls-launcher" "%u" "&"
MimeType=x-scheme-handler/vsls;
X-Version=2.0.7
X-Desktop-File-Install-Version=0.24
