[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-lss;
Exec=env WINEPREFIX="/home/alex/.wine" wine start /ProgIDOpen LiveSplit.SplitsFile %f
NoDisplay=true
StartupNotify=true
