[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-wine-extension-appref-ms;
Exec=env WINEPREFIX="/home/alex/build/lutris/livesplit" /home/ubuntu/buildbot/runners/wine/ge-protonified-4.9-nofshack-1.8-x86_64/bin/wine start /ProgIDOpen Application.Reference %f
NoDisplay=true
StartupNotify=true
Icon=1CD8_rundll32.0
