[Desktop Entry]
Type=Application
Name=LiveSplit
MimeType=application/x-wine-extension-lss;
Exec=env WINEPREFIX="/home/alex/.wine" wine start /ProgIDOpen LiveSplit.SplitsFile %f
NoDisplay=true
StartupNotify=true
Icon=4E1E_LiveSplit.0
