[Desktop Entry]
Type=Application
Name=µVision IDE
MimeType=application/x-wine-extension-uvprojx;
Exec=env WINEPREFIX="/home/alex/.wine" wine start /ProgIDOpen UVPROJXFILE %f
NoDisplay=true
StartupNotify=true
Icon=CA3C_UV4.0
