[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/png;
Exec=env WINEPREFIX="/home/alex/build/lutris/livesplit" /home/ubuntu/buildbot/runners/wine/ge-protonified-4.9-nofshack-1.8-x86_64/bin/wine start /ProgIDOpen pngfile %f
NoDisplay=true
StartupNotify=true
Icon=FB4C_iexplore.0
