[Desktop Entry]
Type=Application
Name=notepad
MimeType=application/x-wine-extension-ini;
Exec=env WINEPREFIX="/home/alex/build/lutris/livesplit" /home/ubuntu/buildbot/runners/wine/ge-protonified-4.9-nofshack-1.8-x86_64/bin/wine start /ProgIDOpen inifile %f
NoDisplay=true
StartupNotify=true
Icon=1E64_notepad.0
