[Desktop Entry]
Type=Application
Name=Wine Installer
MimeType=application/x-wine-extension-msp;
Exec=env WINEPREFIX="/home/alex/build/lutris/livesplit" /home/ubuntu/buildbot/runners/wine/ge-protonified-4.9-nofshack-1.8-x86_64/bin/wine start /ProgIDOpen Msi.Patch %f
NoDisplay=true
StartupNotify=true
Icon=2402_msiexec.0
