[Desktop Entry]
Type=Application
Name=wordpad
MimeType=application/rtf;
Exec=env WINEPREFIX="/home/alex/build/lutris/livesplit" /home/ubuntu/buildbot/runners/wine/ge-protonified-4.9-nofshack-1.8-x86_64/bin/wine start /ProgIDOpen rtffile %f
NoDisplay=true
StartupNotify=true
Icon=97C1_wordpad.0
