[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/x-extension-html;
Exec=env WINEPREFIX="/home/alex/build/lutris/livesplit" /home/ubuntu/buildbot/runners/wine/ge-protonified-4.9-nofshack-1.8-x86_64/bin/wine start /ProgIDOpen htmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
