[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-lsl;
Exec=env WINEPREFIX="/home/alex/.wine" wine start /ProgIDOpen LiveSplit.LayoutFile %f
NoDisplay=true
StartupNotify=true
