[Desktop Entry]
Type=Application
Name=Windows Presentation Foundation Host
MimeType=application/xaml+xml;
Exec=env WINEPREFIX="/home/alex/build/lutris/livesplit" /home/ubuntu/buildbot/runners/wine/ge-protonified-4.9-nofshack-1.8-x86_64/bin/wine start /ProgIDOpen Windows.XamlDocument %f
NoDisplay=true
StartupNotify=true
Icon=E86F_PresentationHost.0
