[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=simple
ExecStart=/usr/bin/sudo /usr/local/bin/wakeup-fix

[Install]
WantedBy=sleep.target
