[Unit]
Description=Prevent false-positive resume from suspend

[Service]
ExecStart=/usr/local/bin/suspend-fix.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
